@font-face {
    font-family: title-font;
    src: url(.//fonts/BabyDoll.otf);
  }

@font-face {
    font-family: body;
    src: url(.//fonts/Handmade.otf);
  }
  
body {
    background-color: #575f52;
    color: #d4c8be;
    font-family: 'body';
    font-size: larger;
    letter-spacing: .1rem;
    text-align: left;
    max-width: 100%;
}

nav {
    font-size: 110%;
    font-weight: bold;
    padding:10px;
    margin: auto;
    text-align: center;
    letter-spacing: .15rem;
}

.icon{
    width: 5%;
    display: none;
    background-color: #d4c8be;
    padding: 2px
}

nav a{
    color: #d4c8be;
    display: center;
    text-decoration: none
}

nav a:hover {
    color: #f6eee9;
}

.navigation {
    display: flex;
    flex: wrap
}

.navigation div{
    flex: 1
}

#close, #humburger {
    cursor: pointer
}

@media only screen and (min-width: 800px) {
    #icon, #close {display: none;}
    #nav {display: flex}
}
@media only screen and (max-width: 799px){
    #icon {
        display: inline;
        text-align: left;
    }
    #close {
        display: none;
        text-align: left;
    }
    #line {
        display: none
    }
    a {
        display:block;
        text-align: left;
    }
    #nav {
        display:none;
        border: 3px
    }
    .icon{
        display: inline
    }
    h1 span {
        display: none
    }
    p {
        width: 100%
    }
}

nav hr{
    border-color: #f6eee9;
    size: 5px
}

h1 {
    font-size: 500%;
    float: left;
    font-family: 'title-font';
    text-align: center;
    margin-top: 10%;
}

h1 span {
    font-size: 50%
}

p{
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10px;
    clear: both
}

.title {
    display: center;
    width: 50%;
    margin: auto;
}

img {
    padding: 10px;
    border-width: 10px;
    border-radius: 1rem;
    border-color: #f6eee9
}

.second {
    display: flex;
}

.second div {
    padding: 1px;
    margin: auto;
}

.second div h2 {
    text-align: center;
}

.second div img {
    padding: 10px;
    border-width: 10px;
    border-radius: 1rem;
    border-color: #f6eee9;
}

.second div p{
    text-align: left;
}

.flex {
    display: flex;
}

.celiacInfo {
    background-color: #f6eee97e;
    color: #3c4338;
    border-radius: 1rem;
}

.celiacInfo a {
    color: #3c4338;
    padding: 10px
}

.celiacInfo a:hover {
    color: #141612;
}

table {
    width: 100%;
    padding: 2%;
}

th, td, tr {
    border-bottom: 1px solid black;
    
}

.table caption {
    display: none
}

.table a{
    color: #d4c8be;
    display: center;
}

.loaf a{
    color: #d4c8be;
    display: center;
}

.loaf a:hover {
    color: #f6eee9;
}

footer {
    clear: both
}

.container {
    display: flex;
    flex: wrap;
    width: 100%
}
.container div {
    flex: 1;
    flex: wrap;
}