
h1 {font-size: 3em;}
h2 {font-size: 2em}
body {font-family: 'Courier New', monospace;}
.evenrow{background-color: lightgray}

body {
    background-color: #91adc2;
    color: #35524a
}

a {color: #754F5B}

nav {
    color: #754F5B;
    background-color: #c1b8c1;
    padding:10px;
    margin-bottom:30px
}

nav a:hover{
    background-color: #8D6E78
}

h1, h2{color: #2c514c}
